
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .wave{
        position: fixed;
        bottom: 0;
        height: 100%;
        z-index: -1;
        -webkit-filter: drop-shadow(5px 5px 5px rgba(210, 215, 255, 0.927));
        filter: drop-shadow(5px 5px 5px rgba(210, 215, 255, 0.927));
    }
    
    .container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap :7rem;
        padding: 0 2rem;
    }
    
    .img{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .img img{
        width: 900px;
    }

    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
   }

   
    .tableau {
        font-family: Mukta, sans-serif;
        display: grid;
        justify-content: center;
        align-items: center;
        color: #4f546c;
        font-size: 0.9rem;
        background-color: #f9fbff;
   }
    table {
        border-collapse: collapse;
        box-shadow: 0 5px 10px #e1e5ee;
        background-color: white;
        text-align: left;
        overflow: hidden;
   }

    table thead {
        box-shadow: 0 5px 10px #004cff;
   }

    table th {
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.7rem;
        font-weight: 900;
   }
    table td {
        padding: 1rem 2rem;
   }
    table a {
        text-decoration: none;
        color: #2962ff;
   }

    table tr:nth-child(even) {
        background-color: #f4f6fb;
   }
    